<div class="chat-container">
    <ul class="chat-box chatContainerScroll" id="chats" style="overflow-y: scroll; height: 300px;">
        <li #left *ngFor="let m of conversation" [ngClass]="m.type" style="position: relative;">
            <div class="chat-avatar">
                <img src="https://www.bootdey.com/img/Content/avatar/avatar3.png" alt="Retail Admin">
                <div class="chat-name">{{m.user}}</div>
            </div>
            <div class="chat-text">{{m.message}}</div>
            <div class="chat-hour">{{m.sendDate|date:'shortTime'}}<span class="fa fa-check-circle"></span></div>
        </li>
        <!-- <li #right class="chat-right">
            <div class="chat-hour">08:56 <span class="fa fa-check-circle"></span></div>
            <div class="chat-text">Hi, Russell
                <br> I need more information about Developer Plan.</div>
            <div class="chat-avatar">
                <img src="https://www.bootdey.com/img/Content/avatar/avatar3.png" alt="Retail Admin">
                <div class="chat-name">Me</div>
            </div>
        </li> -->
    </ul>
    <div class="form-group mt-3 mb-0" style="display:flex;">
        <textarea style="display: inline-block; width: 80%;flex-grow: 1;" #message id="msg-text" class="form-control" rows="3" placeholder="Type your message here..."></textarea>
        <button class="send" (click)="sendMessage(message.value)" style="display: inline-block; width: 20%;">Send</button> <!--  -->
    </div>
</div>