<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">


<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">

</head>
<body>

    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    <div class="container">
    <div class="page-profile">
        <div class="row">
            <!-- COL 1 -->
            <div class="col-md-3">
                <section class="panel">
                    <div class="panel-body noradius padding-10">
                        <figure class="margin-bottom-10"><!-- image -->
                            <img class="img-responsive" src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="profile picture" style="max-width: 100%;">
                        </figure><!-- /image -->
    
                        
                        <hr class="half-margins">
                        
                        <!-- About -->
                        <h3 class="text-black">
                            Melisa Doe 
                            <small class="text-gray size-14"> / CEO</small>
                        </h3>
                        <p class="size-12">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt laoreet dolore magna aliquam tincidunt erat volutpat laoreet dolore magna aliquam tincidunt erat volutpat.</p>
                        <!-- /About -->
    
                        
                    </div>
                </section>
            </div><!-- /COL 1 -->
    
            <!-- COL 2 -->
            <div class="col-md-5">
    
                <div class="tabs white nomargin-top">
                    <ul class="nav nav-tabs tabs-primary">
                        <li  [ngClass]="overviewActive">
                            <a (click)="goOverview()" data-toggle="tab">Overview </a>
                        </li>
                        <li [ngClass]="editActive">
                            <a (click)="goEdit()" data-toggle="tab">Edit</a>
                        </li>
                    </ul>
    
                    <div class="tab-content">
    
                        <!-- Overview -->
                        <div id="overview" class="tab-pane" [ngClass]="overviewActive">
                            <form class="well" style="overflow: auto;">
                                <textarea rows="2" class="form-control" placeholder="What's on your mind?"></textarea>
                                <div class="margin-top-10">
                                    <button type="submit" class="btn btn-sm btn-primary pull-right">Post</button>
                                </div>
                            </form>
    
                            <hr class="invisible half-margins">
                            <!-- COMMENT -->
                            <ul class="comment list-unstyled padding-0">
                                <li *ngFor="let post of posts" >
                                    <app-post [post]="post"></app-post>
                                </li>
                            </ul>
                            <!-- /COMMENT -->
    
                        </div>
    
                        <!-- Edit -->
                        <div id="edit" class="tab-pane" [ngClass]="editActive">
    
                            <form class="form-horizontal padding-10" method="get">
                                <h4>Personal Information</h4>
                                <fieldset>
                                    <div class="form-group">
                                        <label class="col-md-3 control-label" for="profileFirstName">First Name</label>
                                        <div class="col-md-8">
                                            <input type="text" class="form-control" id="profileFirstName">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 control-label" for="profileLastName">Last Name</label>
                                        <div class="col-md-8">
                                            <input type="text" class="form-control" id="profileLastName">
                                        </div>
                                    </div>
                                    <!-- <div class="form-group">
                                        <label class="col-md-3 control-label" for="profileAddress">Address</label>
                                        <div class="col-md-8">
                                            <input type="text" class="form-control" id="profileAddress">
                                        </div>
                                    </div> -->
                                    <!-- <div class="form-group">
                                        <label class="col-md-3 control-label" for="profileCompany">Company</label>
                                        <div class="col-md-8">
                                            <input type="text" class="form-control" id="profileCompany">
                                        </div>
                                    </div> -->
                                </fieldset>
    
                                <hr>
    
                                <h4>About</h4>
                                <fieldset>
                                    <div class="form-group">
                                        <label class="col-md-3 control-label" for="profileBio">Biographical Info</label>
                                        <div class="col-md-8">
                                            <textarea #bio class="form-control" rows="3" id="profileBio"></textarea>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="sky-form">
                                            <label class="col-xs-3 control-label">Profile Image</label>
                                            <div class="col-md-8">
                                                <label for="file" class="input input-file">
                                                    <div class="button">
                                                        <input #pfp type="file" id="file" (change)="changePfp($event)" onchange="this.parentNode.nextSibling.value = this.value">
                                                    </div>
                                                    <input type="text" readonly=""><br>
                                                    <img src="{{url}}" alt="fail" style="max-width: 50%;">
                                                </label>
                                                <a (click)="removeImage(pfp)" class="btn btn-danger btn-xs nomargin"><i class="fa fa-times"></i> Remove Current Image</a>
                                            </div>
                                        </div>
                                    </div>
    
    
                                </fieldset>
    
                                <hr>
    
                                <h4>Change Password</h4>
                                <fieldset class="mb-xl">
                                    <div class="form-group">
                                        <label class="col-md-3 control-label" for="profileNewPassword">Old Password</label>
                                        <div class="col-md-8">
                                            <input type="password" class="form-control" id="profileOldPassword">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 control-label" for="profileNewPassword">New Password</label>
                                        <div class="col-md-8">
                                            <input type="password" class="form-control" id="profileNewPassword">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 control-label" for="profileNewPasswordRepeat">Repeat New Password</label>
                                        <div class="col-md-8">
                                            <input type="password" class="form-control" id="profileNewPasswordRepeat">
                                        </div>
                                    </div>
                                </fieldset>
    
                                <div class="row">
                                    <div class="col-md-9 col-md-offset-3">
                                        <button type="submit" class="btn btn-primary">Submit</button>
                                        <button type="reset" class="btn btn-default">Reset</button>
                                    </div>
                                </div>
    
                            </form>
    
                        </div>
                    </div>
                </div>
    
            </div><!-- /COL 2 -->
    
            <!-- COL 3 -->
            <div class="col-md-4">
                <!-- projects -->
                <section class="panel panel-default">
                    <header class="panel-heading">
                        <h2 class="panel-title elipsis">
                            <i class="fa fa-rss"></i> Projects
                        </h2>
                    </header>
    
                    <div class="panel-body noradius padding-10">
                        <ul class="bullet-list list-unstyled">
                            <li class="red">
                                <h3>Epona HTML5 Template</h3>
                                <span class="text-gray size-12">Lorem ipsum dolor sit amet, consectetuer adipiscing </span>
                            </li>
                            <li class="green">
                                <h3>Atropos Template</h3>
                                <span class="text-gray size-12">Lorem ipsum dolor sit amet, consectetuer adipiscing </span>
                            </li>
                            <li class="blue">
                                <h3>isisone Template</h3>
                                <span class="text-gray size-12">Lorem ipsum dolor sit amet, consectetuer adipiscing </span>
                            </li>
                            <li class="orange">
                                <h3>Deusone Template</h3>
                                <span class="text-gray size-12">Lorem ipsum dolor sit amet, consectetuer adipiscing </span>
                            </li>
                        </ul>
                    </div>
                </section>
                <!-- /projects -->
    
                
            </div><!-- /COL 3 -->
        </div>
    </div>
    </div>
    <!-- <script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="https://netdna.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script type="text/javascript"></script> -->
</body>
</html>