<script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
<div class="text-center">

    <div class="banner-container">
        <img src="assets/images/banner.jpg" alt="banner" id="banner-img">
        <div class="banner-content">
        
            <h2 class="text-white">BusinessCentral Hub</h2>
            <h5 class="text-white">Welcome to the business world...</h5>
            <a routerLink="login" class="btn btn-outline-light mt-3 h3 px-3 py-2">Login<i class="fa fa-arrow-right ms-2"></i></a>
        </div>
    </div>

    <div id="home">
        <h3 class="mb-4">Join the discussion</h3>
        <div class="row mt-3">
            <div class="col-md-4 text-center">
                <i class="fas fa-question h3"></i>
                <h5 class="text-primary fw-bold">Get answers to your questions</h5>
                <!-- <p>Create an online community right on your site with BusinessCentral Hub. Your visitors can become members, join conversations, follow posts, leave comments and more. And it’s completely free! </p> -->
            </div>
            <div class="col-md-4 text-center">
                <i class="fas fa-newspaper h3"></i>
                <h5 class="text-primary fw-bold">Stay up to date</h5>
                <p></p>
            </div>
            <div class="col-md-4 text-center">
                <i class="fas fa-brain h3"></i>
                <h5 class="text-primary fw-bold">Meet like-minded people</h5>
                <p></p>
            </div>
        </div>
    </div>
</div>